In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('base_data/hackathon_data_basketball_2023.csv')

In [25]:
nd = df[df.player_off_a == "Nading, Samuel"]

In [43]:
heights = pd.concat(df.player_off_a, df.player_defMatchup_ht)

/tmp/ipykernel_443477/3712223164.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  heights = pd.concat(df.player_off_a, df.player_defMatchup_ht)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [42]:
heights = np.array((pd.pop(df.player_defMatchup_a), pd.pop(df.player_defMatchup_a)))
print(heights)

[2 1]

In [29]:
df.head(5)

,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,fg3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
0,"Lapointe, Uriah","Rinhart, Jordan",82,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,0.0,0.0,10.12,1.0,NaN,NaN,NaN
1,"Lapointe, Uriah","Weeks, Robert",74,81,1,3,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,6.08,NaN,NaN,NaN,NaN
2,"Lapointe, Uriah","Polson, Aiden",81,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,1.28,NaN,NaN,NaN,NaN
3,"Lapointe, Uriah","Smith, Aaron",80,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,10.28,NaN,NaN,NaN,NaN
4,"Lapointe, Uriah","Garcia, Daniel",82,81,1,2,1.0,1.0,0.0,0.0,...,0.0,2.0,1.0,0.0,1.0,1.76,NaN,NaN,NaN,NaN

In [30]:
nd.head(5)

,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,fg3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
511,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,NaN,...,1.0,2.0,1.0,0.0,0.0,6.84,NaN,NaN,NaN,NaN
874,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,14.92,NaN,NaN,NaN,NaN
883,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,21.44,NaN,NaN,NaN,NaN
1339,"Lapointe, Uriah","Nading, Samuel",79,81,1,2,1.0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,11.72,NaN,NaN,NaN,NaN
1575,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,15.44,NaN,NaN,NaN,NaN

In [22]:
#print(df.groupby('player_defMatchup_a')['player_defMatchup_a'].value_counts())

In [46]:
nd_ftpercent = nd['ft_player'].sum()/nd['fta'].sum()
nd_percent = nd['fg'].sum()/nd['fga'].sum()
nd_3percent = nd['fg3'].sum()/nd['fga3'].sum()
nd_iso_ppa = nd['iso_pts'].sum()/nd['iso_actions'].sum()
nd_pick_ppa = nd['pick_pts'].sum()/nd['pick_actions'].sum()
nd_post_ppa = nd['post_pts'].sum()/nd['post_actions'].sum()
nd_offball_ppa = nd['offBall_pts'].sum()/nd['offBall_actions'].sum()
nd_fouls_pos = nd[''].sum()/nd[''].sum()

print(nd_ftpercent, nd_percent, nd_3percent, nd_iso_ppa, nd_pick_ppa, nd_post_ppa, nd_offball_ppa)

0.7089201877934272 0.48697394789579157 0.3050847457627119 0.9357142857142857 0.675206611570248 0.782258064516129 0.7771084337349398

In [ ]:
name = np.array(['Free_Throw%', 'Field_Goal%', '3pt%', 'Iso', 'Pick', 'Post', 'Offball', 'AT_Ratio', 'TT_ratio', 'TP_Ratio', 'SQavg'])
top = np.array(['ft_player', 'fg', 'fg3', 'iso_pts', 'pick_pts', 'post_pts', 'offBall_pts', 'tov', 'tov', 'tov', 'qsq'])
bottom = np.array(['fta', 'fga', 'fga3', 'iso_actions', 'pick_actions', 'post_actions', 'offBall_actions', 'assistOppCreated', 'touches', 'poss', 'poss'])

In [ ]:
def update_df(df):
    for i in range (len(name)):
        df[f'{name[i]}'] = create_stats_column(df, i)

In [ ]:
def create_stats_column(df, i):
    row = np.zeros(0)
    for j in range(np.shape(df)[0]):
        row = np.concatenate(df[f'{top[i]}'].iloc[j]/df[f'{bottom[i]}'].iloc[j])
    print(row)
create_stats_column()

In [51]:
nading_stats = {'Free_Throw%': nd_ftpercent, 'Field_Goal%': nd_percent, '3pt%': nd_3percent, 'Iso': nd_iso_ppa, 'Pick': nd_pick_ppa, 'Post': nd_post_ppa, 'Offball': nd_offball_ppa}