In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('base_data/hackathon_data_basketball_2023.csv')

In [25]:
nd = df[df.player_off_a == "Nading, Samuel"]

In [29]:
df.head(5)

,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,fg3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
0,"Lapointe, Uriah","Rinhart, Jordan",82,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,0.0,0.0,10.12,1.0,NaN,NaN,NaN
1,"Lapointe, Uriah","Weeks, Robert",74,81,1,3,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,6.08,NaN,NaN,NaN,NaN
2,"Lapointe, Uriah","Polson, Aiden",81,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,1.28,NaN,NaN,NaN,NaN
3,"Lapointe, Uriah","Smith, Aaron",80,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,10.28,NaN,NaN,NaN,NaN
4,"Lapointe, Uriah","Garcia, Daniel",82,81,1,2,1.0,1.0,0.0,0.0,...,0.0,2.0,1.0,0.0,1.0,1.76,NaN,NaN,NaN,NaN

In [30]:
nd.head(5)

,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,fg3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
511,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,NaN,...,1.0,2.0,1.0,0.0,0.0,6.84,NaN,NaN,NaN,NaN
874,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,14.92,NaN,NaN,NaN,NaN
883,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,21.44,NaN,NaN,NaN,NaN
1339,"Lapointe, Uriah","Nading, Samuel",79,81,1,2,1.0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,11.72,NaN,NaN,NaN,NaN
1575,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,15.44,NaN,NaN,NaN,NaN

In [22]:
#print(df.groupby('player_defMatchup_a')['player_defMatchup_a'].value_counts())

In [28]:
nd_percent = nd['fg'].sum()/nd['fga'].sum()
nd_3percent = nd['fg3'].sum()/nd['fga3'].sum()
print(nd_percent, nd_3percent)

0.48697394789579157 0.3050847457627119