# Creating a Dataframe of Just Nading Matchups #

Used for finding matchups that were only defender X vs Samuel Nading

Data Stored in only_nading_matchups.csv

In [2]:
import pandas as pd

df = pd.read_csv('base_data/hackathon_data_basketball_2023.csv')

nading_only = df[df['player_off_a'] == "Nading, Samuel"]

nading_only

,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,fg3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
511,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,NaN,...,1.0,2.0,1.0,0.0,0.0,6.84,NaN,NaN,NaN,NaN
874,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,14.92,NaN,NaN,NaN,NaN
883,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,21.44,NaN,NaN,NaN,NaN
1339,"Lapointe, Uriah","Nading, Samuel",79,81,1,2,1.0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,11.72,NaN,NaN,NaN,NaN
1575,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,15.44,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341872,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,2,0.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,13.76,NaN,2.0,2.0,1.0
342664,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,1.0,1.0,1.0,1.0,...,NaN,1.0,1.0,0.0,0.0,7.48,NaN,NaN,NaN,NaN
342778,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,0,1.0,0.0,1.0,0.0,...,0.0,3.0,2.0,0.0,0.0,6.13,NaN,2.0,0.0,1.0
343287,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,NaN,NaN,NaN,NaN,...,0.0,2.0,0.0,0.0,0.0,2.54,NaN,NaN,NaN,NaN
343305,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,1.0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,4.92,NaN,1.0,1.0,1.0