In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('filtered_sets/only_nading_matchups.csv')

In [2]:

df

,Unnamed: 0,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
0,511,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,...,1.0,2.0,1.0,0.0,0.0,6.84,NaN,NaN,NaN,NaN
1,874,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,14.92,NaN,NaN,NaN,NaN
2,883,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,21.44,NaN,NaN,NaN,NaN
3,1339,"Lapointe, Uriah","Nading, Samuel",79,81,1,2,1.0,1.0,0.0,...,NaN,1.0,1.0,0.0,0.0,11.72,NaN,NaN,NaN,NaN
4,1575,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,15.44,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,341872,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,2,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,13.76,NaN,2.0,2.0,1.0
1665,342664,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,1.0,1.0,1.0,...,NaN,1.0,1.0,0.0,0.0,7.48,NaN,NaN,NaN,NaN
1666,342778,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,0,1.0,0.0,1.0,...,0.0,3.0,2.0,0.0,0.0,6.13,NaN,2.0,0.0,1.0
1667,343287,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,NaN,NaN,NaN,...,0.0,2.0,0.0,0.0,0.0,2.54,NaN,NaN,NaN,NaN
1668,343305,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,1.0,1.0,0.0,...,NaN,1.0,1.0,0.0,0.0,4.92,NaN,1.0,1.0,1.0