# Comparing Defenders against Nading by Height #

This Journal's main purpose is to take all of the data from Nading's Matchups and merging player's results by height into Taller, about the same, and shorter

In [2]:
#Created By Elias Vera-Jimenez

# Base Imports
import pandas as pd
import numpy as np
import calculate as calc

df = pd.read_csv('filtered_sets/only_nading_matchups.csv') # Accessing the CSV with only nading matchups

In [3]:
# Storing the names & height of all of the players that are taller than nading
taller_than_nading = df[df["player_defMatchup_ht"] > 81 ]

taller_than_nading

,Unnamed: 0,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
92,13650,"Rosser, Michael","Nading, Samuel",79,82,1,2,1.0,1.0,0.0,...,NaN,1.0,1.0,0.0,0.0,14.92,NaN,NaN,NaN,NaN
93,13986,"Rosser, Michael","Nading, Samuel",79,82,1,0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,20.80,NaN,2.0,0.0,1.0
94,14492,"Rosser, Michael","Nading, Samuel",79,82,1,0,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,9.96,NaN,NaN,NaN,NaN
95,14880,"Rosser, Michael","Nading, Samuel",79,82,1,2,1.0,1.0,0.0,...,NaN,1.0,1.0,0.0,0.0,11.52,NaN,NaN,NaN,NaN
96,15238,"Rosser, Michael","Nading, Samuel",79,82,1,3,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,15.20,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,341872,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,2,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,13.76,NaN,2.0,2.0,1.0
1665,342664,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,1.0,1.0,1.0,...,NaN,1.0,1.0,0.0,0.0,7.48,NaN,NaN,NaN,NaN
1666,342778,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,0,1.0,0.0,1.0,...,0.0,3.0,2.0,0.0,0.0,6.13,NaN,2.0,0.0,1.0
1667,343287,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,NaN,NaN,NaN,...,0.0,2.0,0.0,0.0,0.0,2.54,NaN,NaN,NaN,NaN
1668,343305,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,1.0,1.0,0.0,...,NaN,1.0,1.0,0.0,0.0,4.92,NaN,1.0,1.0,1.0

In [4]:
# Storing the names & heights of all of the players that are around the same or the same height as Nading
around_nading_height = df[df["player_defMatchup_ht"].between(77,81)]

around_nading_height

,Unnamed: 0,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
0,511,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,...,1.0,2.0,1.0,0.0,0.0,6.84,NaN,NaN,NaN,NaN
1,874,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,14.92,NaN,NaN,NaN,NaN
2,883,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,21.44,NaN,NaN,NaN,NaN
3,1339,"Lapointe, Uriah","Nading, Samuel",79,81,1,2,1.0,1.0,0.0,...,NaN,1.0,1.0,0.0,0.0,11.72,NaN,NaN,NaN,NaN
4,1575,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,15.44,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1654,331807,"Jelly, Zachery","Nading, Samuel",79,77,1,3,1.0,0.0,1.0,...,1.0,2.0,2.0,0.0,0.0,5.42,NaN,NaN,NaN,NaN
1655,332208,"Jelly, Zachery","Nading, Samuel",79,77,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1656,332283,"Jelly, Zachery","Nading, Samuel",79,77,1,0,NaN,NaN,NaN,...,0.0,1.0,1.0,0.0,0.0,14.00,NaN,NaN,NaN,NaN
1657,332572,"Jelly, Zachery","Nading, Samuel",79,77,1,3,NaN,NaN,NaN,...,1.0,1.0,1.0,0.0,0.0,7.64,NaN,NaN,NaN,NaN
1658,332653,"Jelly, Zachery","Nading, Samuel",79,77,1,0,1.0,0.0,0.0,...,0.0,2.0,1.0,0.0,0.0,7.88,NaN,NaN,NaN,NaN

In [5]:
shorter_than_nading = df[df["player_defMatchup_ht"] < 77]

shorter_than_nading

,Unnamed: 0,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
8,3857,"House, Brandyn","Nading, Samuel",79,76,1,3,1.0,1.0,1.0,...,NaN,1.0,1.0,0.0,0.0,15.160000,NaN,NaN,NaN,NaN
9,3914,"House, Brandyn","Nading, Samuel",79,76,1,1,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,20.080000,NaN,2.0,1.0,1.0
10,4133,"House, Brandyn","Nading, Samuel",79,76,1,3,1.0,1.0,0.0,...,1.0,4.0,3.0,0.0,1.0,4.293333,NaN,2.0,1.0,1.0
11,4355,"House, Brandyn","Nading, Samuel",79,76,1,0,1.0,0.0,1.0,...,0.0,2.0,1.0,0.0,0.0,7.460000,NaN,NaN,NaN,NaN
12,6032,"House, Brandyn","Nading, Samuel",79,76,1,0,NaN,NaN,NaN,...,NaN,1.0,1.0,0.0,0.0,7.800000,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1632,326755,"Schubert, Christian","Nading, Samuel",79,76,1,2,1.0,1.0,0.0,...,0.0,2.0,1.0,0.0,0.0,2.960000,NaN,NaN,NaN,NaN
1633,326842,"Schubert, Christian","Nading, Samuel",79,76,1,3,1.0,1.0,1.0,...,0.0,2.0,1.0,1.0,0.0,0.740000,NaN,NaN,NaN,NaN
1659,337064,"Rosser, Nathaniel","Nading, Samuel",79,73,1,2,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,6.080000,NaN,NaN,NaN,NaN
1660,339173,"Rosser, Nathaniel","Nading, Samuel",79,73,1,0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,1.360000,NaN,NaN,NaN,NaN
1661,339840,"Rosser, Nathaniel","Nading, Samuel",79,73,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#list of all of the different statistics (not including: player names, heights, or possessions
player_stats_list = [
    "player_defMatchup_ht",
    "ptsScored_team", 
    "fga", 
    "fg", 
    "fga3", 
    "fg3", 
    "qSQ", 
    "iso_actions", 
    "iso_pts", 
    "pick_actions", 
    "pick_pts",
    "post_actions",
    "post_pts",
    "offBall_actions",
    "offBall_pts",
    "passes",
    "assistOppCreated",
    "touches",
    "touches_direct",
    "touches_catchAndShoot",
    "touches_paint",
    "touches_time",
    "tov",
    "fta",
    "ft_player",
    "fouls"
]
print(len(player_stats_list))

# Dictionary that will contain all of the data for the players
players_stats_avg_dict = {
    "def_heights" : ["Shorter Players", "Around-Height Players", "Taller Players"],
    "avg_def_height" : [],
    "avg_ptsScored_team" : [],
    "avg_fga" : [],
    "avg_fg": [], 
    "avg_fga3": [], 
    "avg_fg3" : [], 
    "avg_qSQ" : [], 
    "avg_iso_actions" : [], 
    "avg_iso_pts": [], 
    "avg_pick_actions": [], 
    "avg_pick_pts" : [],
    "avg_post_actions" : [],
    "avg_post_pts" : [],
    "avg_offBall_actions": [],
    "avg_offBall_pts" : [],
    "avg_passes" : [],
    "avg_assistOppCreated" : [],
    "avg_touches" : [] ,
    "avg_touches_direct" : [],
    "avg_touches_catchAndShoot" : [],
    "avg_touches_paint" : [],
    "avg_touches_time" :[] ,
    "avg_tov" : [],
    "avg_fta" : [],
    "avg_ft_player" : [] ,
    "avg_fouls": []
}

do_not_change_na = [
    "iso_pts",
    "iso_actions",
    "pick_pts",
    "pick_actions",
    "post_pts",
    "post_actions",
    "offBall_pts",
    "offBall_actions",
    "touches_time"
]

26

In [7]:

def get_stats (df):
    avg_stats = []
    for stat in player_stats_list:
        if stat not in do_not_change_na:
            df.loc[:, f'{stat}'].fillna(0)
        avg_stats.append(np.round(np.nanmean(df[stat]), 3))
    return avg_stats

shorter_avgs = get_stats(shorter_than_nading)

taller_avgs = get_stats(taller_than_nading)

same_avgs = get_stats(around_nading_height)

In [8]:
shorter_avgs = get_stats(shorter_than_nading)

taller_avgs = get_stats(taller_than_nading)

same_avgs = get_stats(around_nading_height)

print(len(shorter_avgs), len(taller_avgs), len(same_avgs))
print(same_avgs, shorter_avgs, taller_avgs)
index = 0
for stat in players_stats_avg_dict:
    if(stat == "def_heights"):
        players_stats_avg_dict[stat] = ["Shorter", "Same", "Taller"]
    else:
        players_stats_avg_dict[stat] = [shorter_avgs[index],same_avgs[index],taller_avgs[index]]
        index+=1

26 26 26
[78.788, 1.143, 0.902, 0.457, 0.33, 0.108, 45.825, 1.026, 0.993, 1.271, 0.875, 1.019, 0.923, 0.201, 0.148, 1.281, 0.336, 1.354, 0.722, 0.012, 0.007, 7.026, 1.0, 1.821, 1.286, 1.0] [75.536, 1.029, 0.881, 0.407, 0.249, 0.062, 46.314, 1.0, 0.854, 1.281, 0.826, 1.017, 0.75, 0.186, 0.169, 1.266, 0.352, 1.346, 0.732, 0.01, 0.018, 6.983, 1.0, 1.766, 1.34, 1.0] [83.163, 1.095, 0.908, 0.415, 0.446, 0.138, 45.65, 1.079, 1.053, 1.357, 0.952, 1.0, 0.4, 0.231, 0.143, 1.202, 0.34, 1.379, 0.829, 0.014, 0.036, 7.451, 1.0, 1.867, 1.067, 1.0]

In [9]:

heights_avg = pd.DataFrame.from_dict(players_stats_avg_dict)

heights_avg = calc.update_df(heights_avg)

heights_avg

#heights_avg.to_csv('filtered_sets/nading_vs_different_heights_averages.csv')

(3, 36)

,def_heights,avg_def_height,avg_ptsScored_team,avg_fga,avg_fg,avg_fga3,avg_fg3,avg_qSQ,avg_iso_actions,avg_iso_pts,...,avg_fouls,Free_Throw%,Field_Goal%,2pt%,3pt%,Iso,Pick,Post,Offball,AT_Ratio
0,Shorter,75.536,1.029,0.881,0.407,0.249,0.062,46.314,1.000,0.854,...,1.0,0.758777,0.461975,0.545886,0.248996,0.854000,0.644809,0.737463,0.908602,2.840909
1,Same,78.788,1.143,0.902,0.457,0.330,0.108,45.825,1.026,0.993,...,1.0,0.706205,0.506652,0.610140,0.327273,0.967836,0.688434,0.905790,0.736318,2.976190
2,Taller,83.163,1.095,0.908,0.415,0.446,0.138,45.650,1.079,1.053,...,1.0,0.571505,0.457048,0.599567,0.309417,0.975904,0.701548,0.400000,0.619048,2.941176