# Creating a Dataframe of Just Nading Matchups #

Used for finding matchups that were only defender X vs Samuel Nading

Data Stored in only_nading_matchups.csv

In [3]:
import pandas as pd

df = pd.read_csv('base_data/hackathon_data_basketball_2023.csv')

df

,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,fg3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
0,"Lapointe, Uriah","Rinhart, Jordan",82,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,0.0,0.0,10.12,1.0,NaN,NaN,NaN
1,"Lapointe, Uriah","Weeks, Robert",74,81,1,3,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,6.08,NaN,NaN,NaN,NaN
2,"Lapointe, Uriah","Polson, Aiden",81,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,1.28,NaN,NaN,NaN,NaN
3,"Lapointe, Uriah","Smith, Aaron",80,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,10.28,NaN,NaN,NaN,NaN
4,"Lapointe, Uriah","Garcia, Daniel",82,81,1,2,1.0,1.0,0.0,0.0,...,0.0,2.0,1.0,0.0,1.0,1.76,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343418,"Hyden-Terry, Victor","Awtrey, Derrick",77,84,1,2,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,2.60,NaN,NaN,NaN,NaN
343419,"Hyden-Terry, Victor","Failing, Leonard",78,84,1,2,1.0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,6.92,NaN,NaN,NaN,NaN
343420,"Hyden-Terry, Victor","Duran, Sebastian",83,84,1,3,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,0.0,0.0,2.04,NaN,NaN,NaN,NaN
343421,"Hyden-Terry, Victor","Jones, James",79,84,1,0,1.0,0.0,1.0,0.0,...,NaN,1.0,1.0,1.0,0.0,0.72,NaN,NaN,NaN,NaN
343422,"Hyden-Terry, Victor","White, Brannon",84,84,1,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
nading_only = df[df['player_off_a'] == "Nading, Samuel"]

nading_only

#nading_only.to_csv('filtered_sets/only_nading_matchups.csv")

,player_defMatchup_a,player_off_a,player_off_ht,player_defMatchup_ht,poss,ptsScored_team,fga,fg,fga3,fg3,...,assistOppCreated,touches,touches_direct,touches_catchAndShoot,touches_paint,touches_time,tov,fta,ft_player,fouls
511,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,NaN,...,1.0,2.0,1.0,0.0,0.0,6.84,NaN,NaN,NaN,NaN
874,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,14.92,NaN,NaN,NaN,NaN
883,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,21.44,NaN,NaN,NaN,NaN
1339,"Lapointe, Uriah","Nading, Samuel",79,81,1,2,1.0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,11.72,NaN,NaN,NaN,NaN
1575,"Lapointe, Uriah","Nading, Samuel",79,81,1,0,1.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,15.44,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341872,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,2,0.0,0.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,13.76,NaN,2.0,2.0,1.0
342664,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,1.0,1.0,1.0,1.0,...,NaN,1.0,1.0,0.0,0.0,7.48,NaN,NaN,NaN,NaN
342778,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,0,1.0,0.0,1.0,0.0,...,0.0,3.0,2.0,0.0,0.0,6.13,NaN,2.0,0.0,1.0
343287,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,NaN,NaN,NaN,NaN,...,0.0,2.0,0.0,0.0,0.0,2.54,NaN,NaN,NaN,NaN
343305,"Hyden-Terry, Victor","Nading, Samuel",79,84,1,3,1.0,1.0,0.0,0.0,...,NaN,1.0,1.0,0.0,0.0,4.92,NaN,1.0,1.0,1.0