In [7]:
#Created By Elias Vera-Jimenez

# Base Imports
import pandas as pd
import numpy as np

df = pd.read_csv('filtered_sets/nading_matchup_averages.csv') # Accessing the CSV with only nading matchups

In [8]:
# Storing the names & height of all of the players that are taller than nading
taller_than_nading = df[df["player_defMatchup_ht"] > 81 ]

taller_than_nading

,Unnamed: 0,index,player_defMatchup_a,player_defMatchup_ht,avg_ptsScored_team,avg_fga,avg_fg,avg_fga3,avg_fg3,avg_qSQ,...,avg_assistOppCreated,avg_touches,avg_touches_direct,avg_touches_catchAndShoot,avg_touches_paint,avg_touches_time,avg_tov,avg_fta,avg_ft_player,avg_fouls
4,4,92,"Rosser, Michael",82,1.167,0.667,0.667,0.000,0.000,49.085,...,0.000,1.000,0.500,0.000,0.000,14.533,NaN,2.000,0.000,1.0
17,17,427,"Dalke, David",83,0.100,1.000,0.000,0.600,0.000,40.408,...,0.375,1.700,1.000,0.000,0.100,8.133,1.0,2.000,1.000,1.0
21,21,585,"Mariman, Isaac",84,2.167,1.000,0.600,0.800,0.400,45.356,...,0.333,1.500,1.167,0.000,0.167,13.660,NaN,2.000,2.000,1.0
45,45,1058,"Romero, Roger",83,0.000,NaN,NaN,NaN,NaN,NaN,...,0.000,1.000,0.000,0.000,0.000,8.340,NaN,NaN,NaN,NaN
50,50,1114,"Benally, Kaldurion",85,0.600,0.800,0.200,0.000,0.000,35.544,...,0.200,1.333,0.778,0.000,0.000,9.956,NaN,2.000,1.000,1.0
51,51,1124,"House, Steven",84,1.588,1.250,0.750,0.750,0.250,47.646,...,0.467,1.353,0.824,0.000,0.059,5.862,NaN,NaN,NaN,NaN
59,59,1284,"Outhouse, Brent",83,0.500,1.000,0.000,0.667,0.000,46.016,...,1.000,1.000,1.000,0.000,0.200,8.344,1.0,NaN,NaN,NaN
65,65,1351,"Thomas, Joseph",84,1.429,1.000,0.571,0.286,0.000,49.175,...,0.200,1.500,0.714,0.000,0.000,7.960,NaN,1.000,1.000,1.0
71,71,1403,"Martinez, Luke",85,1.000,1.000,0.000,1.000,0.000,51.890,...,0.000,1.000,0.500,0.000,0.000,4.080,NaN,NaN,NaN,NaN
75,75,1468,"Good Wind, Cheyenne",83,1.137,0.870,0.391,0.391,0.174,47.972,...,0.406,1.417,0.917,0.042,0.021,7.105,1.0,2.000,1.333,1.0
81,81,1555,"Dupree, Jeremiah",82,1.148,0.900,0.600,0.400,0.100,47.868,...,0.333,1.280,0.680,0.000,0.000,5.410,NaN,1.500,0.500,1.0
87,87,1662,"Hyden-Terry, Victor",84,1.571,0.800,0.400,0.600,0.200,40.919,...,0.000,1.571,1.000,0.000,0.000,7.110,1.0,1.667,1.000,1.0

In [5]:
# Storing the names & heights of all of the players that are around the same or the same height as Nading
shorter_than_nading_raw = df[df["player_defMatchup_ht"].between(77,81)]

shorter_than_nading_raw = shorter_than_nading_raw[["player_defMatchup_a","player_defMatchup_ht"]]

shorter_than_nading = shorter_than_nading_raw.drop_duplicates()

shorter_than_nading

      player_defMatchup_a  player_defMatchup_ht
8          House, Brandyn                    76
22       Morser, Cheyenne                    79
147         Chavez, Jakob                    78
149          Orr, Jeffrey                    79
159       Thomas, Matthew                    79
213       Herrera, Austin                    78
266      Hartmann, Miguel                    76
350           Red, Taylor                    78
363      Oscarson, Jeremy                    74
367           Lial, Tyler                    79
378          Diaz, Joshua                    77
417      Mattice, Phillip                    77
440          Nunley, Luke                    76
535    Blaeholder, Elijah                    76
591      Vialpando, David                    75
596          Dedios, Eric                    73
642      Hammond, Brandyn                    78
673     Vialpando, Samuel                    78
677         Ortiz, Marcus                    76
688       Martinez, Colen                    77
781        Thomas, Joseph                    77
792          Cruz, Julian                    77
800     Tucson, Christian                    79
804    Salas-Smith, Caleb                    76
858         Pourier, Cody                    77
865          Hall, Joseph                    76
868        Milburn, Pablo                    77
957     Yellowboy, Joshua                    79
1005         Watson, Trae                    74
1023         Adams, Aaron                    76
1043      Nevarez, Joshua                    77
1081       Longwing, Lane                    78
1083     Sandoval, Joshua                    74
1141         Chin, Hunter                    79
1155      Awtrey, Derrick                    77
1165    Fredericks, Elroy                    77
1166      Rinhart, Austin                    75
1278     Cordero, Maurice                    73
1290     Thin-Elk, Edward                    74
1316    Lambertson, Kevin                    77
1337      Young, Jonathan                    76
1354      Werner, Farrell                    78
1370      Petersen, Tyler                    76
1373       Valdez, Isaiah                    74
1394        Marsh, Trevon                    76
1408       Chacon, Parker                    75
1426     Williams, Daniel                    76
1519          Rice, Jared                    77
1535      Cuthair, Austin                    78
1543       Tromble, Brice                    77
1551    Trujillo, Liukura                    72
1582     Parra, Alexander                    75
1622  Schubert, Christian                    76
1634     Sullivan, Dustyn                    78
1645       Jelly, Zachery                    77
1659    Rosser, Nathaniel                    73