# All Player Matchups Vs Nading Averages #

Tracks all of the individual defender's average stats vs nading only

In [8]:
# same as player_data_average but with Samuel Nading only
import pandas as pd
import numpy as np
import calculate as calc

nading_only = pd.read_csv('filtered_sets/only_nading_matchups.csv')

nading_only.head

<bound method NDFrame.head of       Unnamed: 0  player_defMatchup_a    player_off_a  player_off_ht  \
0            511      Lapointe, Uriah  Nading, Samuel             79
1            874      Lapointe, Uriah  Nading, Samuel             79
2            883      Lapointe, Uriah  Nading, Samuel             79
3           1339      Lapointe, Uriah  Nading, Samuel             79
4           1575      Lapointe, Uriah  Nading, Samuel             79
...          ...                  ...             ...            ...
1664      341872  Hyden-Terry, Victor  Nading, Samuel             79
1665      342664  Hyden-Terry, Victor  Nading, Samuel             79
1666      342778  Hyden-Terry, Victor  Nading, Samuel             79
1667      343287  Hyden-Terry, Victor  Nading, Samuel             79
1668      343305  Hyden-Terry, Victor  Nading, Samuel             79

      player_defMatchup_ht  poss  ptsScored_team  fga   fg  fga3  ...  \
0                       81     1               0  NaN  NaN   NaN  ...
1                       81     1               0  NaN  NaN   NaN  ...
2                       81     1               0  1.0  0.0   0.0  ...
3                       81     1               2  1.0  1.0   0.0  ...
4                       81     1               0  1.0  0.0   0.0  ...
...                    ...   ...             ...  ...  ...   ...  ...
1664                    84     1               2  0.0  0.0   0.0  ...
1665                    84     1               3  1.0  1.0   1.0  ...
1666                    84     1               0  1.0  0.0   1.0  ...
1667                    84     1               3  NaN  NaN   NaN  ...
1668                    84     1               3  1.0  1.0   0.0  ...

      assistOppCreated  touches  touches_direct  touches_catchAndShoot  \
0                  1.0      2.0             1.0                    0.0
1                  0.0      1.0             0.0                    0.0
2                  NaN      1.0             1.0                    0.0
3                  NaN      1.0             1.0                    0.0
4                  NaN      1.0             1.0                    0.0
...                ...      ...             ...                    ...
1664               NaN      1.0             1.0                    0.0
1665               NaN      1.0             1.0                    0.0
1666               0.0      3.0             2.0                    0.0
1667               0.0      2.0             0.0                    0.0
1668               NaN      1.0             1.0                    0.0

      touches_paint  touches_time  tov  fta  ft_player  fouls
0               0.0          6.84  NaN  NaN        NaN    NaN
1               0.0         14.92  NaN  NaN        NaN    NaN
2               0.0         21.44  NaN  NaN        NaN    NaN
3               0.0         11.72  NaN  NaN        NaN    NaN
4               0.0         15.44  NaN  NaN        NaN    NaN
...             ...           ...  ...  ...        ...    ...
1664            0.0         13.76  NaN  2.0        2.0    1.0
1665            0.0          7.48  NaN  NaN        NaN    NaN
1666            0.0          6.13  NaN  2.0        0.0    1.0
1667            0.0          2.54  NaN  NaN        NaN    NaN
1668            0.0          4.92  NaN  1.0        1.0    1.0

[1669 rows x 31 columns]>

In [9]:
#Separating all of the player's data into one dataframe
players = nading_only[["player_defMatchup_a", "player_defMatchup_ht"]]
players = players.drop_duplicates()
players = players.reset_index()
print(np.shape(players))
players.head

(88, 3)

<bound method NDFrame.head of     index  player_defMatchup_a  player_defMatchup_ht
0       0      Lapointe, Uriah                    81
1       8       House, Brandyn                    76
2      13     Lawton, Jeremiah                    81
3      22     Morser, Cheyenne                    79
4      92      Rosser, Michael                    82
..    ...                  ...                   ...
83   1622  Schubert, Christian                    76
84   1634     Sullivan, Dustyn                    78
85   1645       Jelly, Zachery                    77
86   1659    Rosser, Nathaniel                    73
87   1662  Hyden-Terry, Victor                    84

[88 rows x 3 columns]>

In [10]:
#list of all of the different statistics (not including: player names, heights, or possessions
player_stats_list = [
    "ptsScored_team", 
    "fga", 
    "fg", 
    "fga3", 
    "fg3", 
    "qSQ", 
    "iso_actions", 
    "iso_pts", 
    "pick_actions", 
    "pick_pts",
    "post_actions",
    "post_pts",
    "offBall_actions",
    "offBall_pts",
    "passes",
    "assistOppCreated",
    "touches",
    "touches_direct",
    "touches_catchAndShoot",
    "touches_paint",
    "touches_time",
    "tov",
    "fta",
    "ft_player",
    "fouls"
]
print(len(player_stats_list))

# Dictionary that will contain all of the data for the players
player_stats_avg_dict = {
    "avg_ptsScored_team" : [],
    "avg_fga" : [],
    "avg_fg": [], 
    "avg_fga3": [], 
    "avg_fg3" : [], 
    "avg_qSQ" : [], 
    "avg_iso_actions" : [], 
    "avg_iso_pts": [], 
    "avg_pick_actions": [], 
    "avg_pick_pts" : [],
    "avg_post_actions" : [],
    "avg_post_pts" : [],
    "avg_offBall_actions": [],
    "avg_offBall_pts" : [],
    "avg_passes" : [],
    "avg_assistOppCreated" : [],
    "avg_touches" : [] ,
    "avg_touches_direct" : [],
    "avg_touches_catchAndShoot" : [],
    "avg_touches_paint" : [],
    "avg_touches_time" :[] ,
    "avg_tov" : [],
    "avg_fta" : [],
    "avg_ft_player" : [] ,
    "avg_fouls": []
}

do_not_change_na = [
    "iso_pts",
    "iso_actions",
    "pick_pts",
    "pick_actions",
    "post_pts",
    "post_actions",
    "offBall_pts",
    "offBall_actions",
    "touches_time"
]

25

In [11]:
""" This function gathers all of the players' average for each stat across all of their
matchups, and stores those stats into one list, called curr_player_stats"""

all_stats_avg = [[] for _ in range(25)]
repeat_tracker = 0
for player in players.player_defMatchup_a:
    player_data = nading_only[nading_only["player_defMatchup_a"] == player]
    curr_player_stats_avg = []
    for stat in player_stats_list:
        if stat not in do_not_change_na:
            player_data.loc[:,f'{stat}'].fillna(0)
        curr_player_stats_avg.append(np.round(np.nanmean(player_data[stat]), 3))
    
    for index in range(len(curr_player_stats_avg)):
        all_stats_avg[index].append(curr_player_stats_avg[index])
    repeat_tracker+=1;

C:\Users\Vered\AppData\Local\Temp\ipykernel_36032\1310531160.py:12: RuntimeWarning: Mean of empty slice
  curr_player_stats_avg.append(np.round(np.nanmean(player_data[stat]), 3))

In [12]:
"""all_stats_avg is the average of each individual player's stat in several columns, 
    for example,  index 1 of all_stats_avg is equal to the average of the points 
    scored on each individual player. each individual stat list is then matched with it's respective 
      """
index = 0;
for stat in player_stats_avg_dict:
    player_stats_avg_dict[stat] = all_stats_avg[index]
    index+=1

avg_stats = pd.DataFrame.from_dict(player_stats_avg_dict)
    
player_averages = pd.concat([players,avg_stats], axis=1, join="outer")
player_averages = calc.update_df(player_averages)
    
player_averages
#player_averages.to_csv('filtered_sets/nading_matchup_averages.csv')

(88, 37)

f:\ProgramFiles\BucksHackathon\2023-Bucks-Hackathon\calculate.py:21: RuntimeWarning: invalid value encountered in scalar divide
  result = (df[f'avg_{top}'].iloc[j]/df[f'avg_{bottom}'].iloc[j])
f:\ProgramFiles\BucksHackathon\2023-Bucks-Hackathon\calculate.py:19: RuntimeWarning: invalid value encountered in scalar divide
  result = num/denom
f:\ProgramFiles\BucksHackathon\2023-Bucks-Hackathon\calculate.py:21: RuntimeWarning: invalid value encountered in scalar divide
  result = (df[f'avg_{top}'].iloc[j]/df[f'avg_{bottom}'].iloc[j])
f:\ProgramFiles\BucksHackathon\2023-Bucks-Hackathon\calculate.py:21: RuntimeWarning: invalid value encountered in scalar divide
  result = (df[f'avg_{top}'].iloc[j]/df[f'avg_{bottom}'].iloc[j])
f:\ProgramFiles\BucksHackathon\2023-Bucks-Hackathon\calculate.py:21: RuntimeWarning: divide by zero encountered in scalar divide
  result = (df[f'avg_{top}'].iloc[j]/df[f'avg_{bottom}'].iloc[j])

,index,player_defMatchup_a,player_defMatchup_ht,avg_ptsScored_team,avg_fga,avg_fg,avg_fga3,avg_fg3,avg_qSQ,avg_iso_actions,...,avg_fouls,Free_Throw%,Field_Goal%,2pt%,3pt%,Iso,Pick,Post,Offball,AT_Ratio
0,0,"Lapointe, Uriah",81,0.875,1.000,0.400,0.200,0.200,36.798,1.000,...,NaN,NaN,0.400,0.250,1.000,0.750,0.700,NaN,NaN,NaN
1,8,"House, Brandyn",76,1.400,0.750,0.500,0.500,0.250,39.747,1.000,...,1.0,0.500,0.667,1.000,0.500,1.500,0.667,1.00,2.000,2.000
2,13,"Lawton, Jeremiah",81,0.889,1.000,0.286,0.571,0.143,46.633,1.143,...,NaN,NaN,0.286,0.333,0.250,0.625,1.142,NaN,0.499,NaN
3,22,"Morser, Cheyenne",79,1.157,0.875,0.375,0.250,0.125,38.197,1.000,...,1.0,0.625,0.429,0.400,0.500,0.778,0.604,2.00,0.911,5.435
4,92,"Rosser, Michael",82,1.167,0.667,0.667,0.000,0.000,49.085,1.000,...,1.0,0.000,1.000,1.000,NaN,1.000,0.667,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1622,"Schubert, Christian",76,1.059,1.111,0.444,0.667,0.222,46.605,1.000,...,NaN,NaN,0.400,0.500,0.333,0.833,0.538,1.40,0.000,NaN
84,1634,"Sullivan, Dustyn",78,1.364,0.750,0.500,0.250,0.000,36.214,1.000,...,1.0,1.000,0.667,1.000,0.000,1.750,0.400,NaN,1.598,NaN
85,1645,"Jelly, Zachery",77,1.429,0.833,0.500,0.167,0.000,54.631,1.000,...,1.0,0.500,0.600,0.751,0.000,0.600,0.750,1.75,NaN,NaN
86,1659,"Rosser, Nathaniel",73,0.667,1.000,0.000,0.000,0.000,40.639,1.000,...,NaN,NaN,0.000,0.000,NaN,0.000,NaN,NaN,NaN,NaN
87,1662,"Hyden-Terry, Victor",84,1.571,0.800,0.400,0.600,0.200,40.919,1.200,...,1.0,0.600,0.500,1.000,0.333,1.333,1.000,NaN,0.000,inf

In [13]:

player_averages.head(20)
#player_heights.to_csv("player_heights.csv")

,index,player_defMatchup_a,player_defMatchup_ht,avg_ptsScored_team,avg_fga,avg_fg,avg_fga3,avg_fg3,avg_qSQ,avg_iso_actions,...,avg_fouls,Free_Throw%,Field_Goal%,2pt%,3pt%,Iso,Pick,Post,Offball,AT_Ratio
0,0,"Lapointe, Uriah",81,0.875,1.000,0.400,0.200,0.200,36.798,1.000,...,NaN,NaN,0.400,0.250,1.000,0.750,0.700,NaN,NaN,NaN
1,8,"House, Brandyn",76,1.400,0.750,0.500,0.500,0.250,39.747,1.000,...,1.0,0.500,0.667,1.000,0.500,1.500,0.667,1.000,2.000,2.000
2,13,"Lawton, Jeremiah",81,0.889,1.000,0.286,0.571,0.143,46.633,1.143,...,NaN,NaN,0.286,0.333,0.250,0.625,1.142,NaN,0.499,NaN
3,22,"Morser, Cheyenne",79,1.157,0.875,0.375,0.250,0.125,38.197,1.000,...,1.0,0.625,0.429,0.400,0.500,0.778,0.604,2.000,0.911,5.435
4,92,"Rosser, Michael",82,1.167,0.667,0.667,0.000,0.000,49.085,1.000,...,1.0,0.000,1.000,1.000,NaN,1.000,0.667,NaN,NaN,NaN
5,98,"Richards, Santos",80,1.250,0.750,0.500,0.500,0.250,50.086,1.000,...,1.0,1.000,0.667,1.000,0.500,1.000,0.571,2.000,0.333,2.667
6,118,"Rivas, Cody",80,1.034,0.857,0.714,0.429,0.286,58.353,1.400,...,1.0,1.000,0.833,1.000,0.667,0.429,1.500,NaN,0.573,1.908
7,147,"Chavez, Jakob",78,0.000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN
8,149,"Orr, Jeffrey",79,1.100,0.750,0.500,0.250,0.000,41.798,1.000,...,1.0,0.500,0.667,1.000,0.000,0.500,0.500,NaN,1.000,6.993
9,159,"Thomas, Matthew",79,1.204,1.045,0.636,0.455,0.182,48.280,1.111,...,1.0,0.500,0.609,0.769,0.400,1.500,0.884,0.500,1.190,3.623
10,213,"Herrera, Austin",78,1.075,0.867,0.467,0.400,0.133,44.680,1.000,...,1.0,0.875,0.539,0.715,0.332,3.000,0.871,1.500,0.664,3.165
11,266,"Hartmann, Miguel",76,0.857,0.944,0.444,0.333,0.000,45.218,1.000,...,1.0,0.875,0.470,0.727,0.000,0.400,0.623,0.143,0.664,2.833
12,350,"Red, Taylor",78,1.077,1.000,0.250,0.500,0.000,48.081,1.000,...,NaN,NaN,0.250,0.500,0.000,0.667,0.500,NaN,0.667,NaN
13,363,"Oscarson, Jeremy",74,1.250,1.000,0.667,0.333,0.333,43.842,1.000,...,NaN,NaN,0.667,0.501,1.000,0.000,0.667,NaN,NaN,inf
14,367,"Lial, Tyler",79,1.273,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.000,NaN,NaN,NaN,NaN,0.000,NaN,0.000,1.751
15,378,"Diaz, Joshua",77,1.462,1.000,0.714,0.286,0.286,40.815,1.000,...,NaN,NaN,0.714,0.599,1.000,1.500,0.480,2.000,1.000,2.387
16,417,"Mattice, Phillip",77,1.300,0.667,0.667,0.000,0.000,40.403,1.000,...,1.0,1.000,1.000,1.000,NaN,1.000,1.143,2.000,2.000,NaN
17,427,"Dalke, David",83,0.100,1.000,0.000,0.600,0.000,40.408,1.200,...,1.0,0.500,0.000,0.000,0.000,0.167,0.000,0.000,0.000,2.667
18,437,"Bentley, Matias",81,1.667,1.000,0.000,1.000,0.000,47.269,1.000,...,NaN,NaN,0.000,NaN,0.000,0.000,0.000,NaN,0.000,NaN
19,440,"Nunley, Luke",76,1.000,0.871,0.355,0.323,0.032,46.497,1.000,...,1.0,0.866,0.408,0.589,0.099,1.000,0.596,1.125,1.050,2.294