In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('base_data/hackathon_data_basketball_2023.csv')

In [8]:
#Separating all of the player's data into one dataframe
player_names = df[["player_defMatchup_a"]]

player_names = player_names.drop_duplicates();

player_names

        player_defMatchup_a
0           Lapointe, Uriah
3792         House, Brandyn
6800       Lawton, Jeremiah
10144      Morser, Cheyenne
13370       Rosser, Michael
...                     ...
326948     Sullivan, Dustyn
329992       Jelly, Zachery
333272     Gallegos, Marcus
336630    Rosser, Nathaniel
340382  Hyden-Terry, Victor

[100 rows x 1 columns]